{% extends './layout.html' %}

{% block content %}
<div class="nav navbar">

</div>
<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <div id="map-canvas" style="height:600px;">
      </div>
    </div>
    <div class="col-sm-3">
      <label for="Hotels">Hotels</label>
      <select class="" name="Hotels">
        {% for hotel in hotels %}
          <option value="{{hotel.id}}">{{hotel.name}}</option>
        {% endfor%}
      </select>
      <label for="Restaurants">Restaurants</label>
      <select class="" name="Restaurants">
        {% for restaurant in restaurants %}
          <option value="{{restaurant.id}}">{{restaurant.name}}</option>
        {% endfor%}
      </select>
      <label for="Activities">Activities</label>
      <select class="" name="Activities">
        {% for activity in activities %}
          <option value="{{activity.id}}">{{activity.name}}</option>
        {% endfor%}
      </select>
    </div>
  </div>
</div>
<script>
function initialize_gmaps() {
  // initialize new google maps LatLng object
  var myLatlng = new google.maps.LatLng(40.705189,-74.009209);
  // set the map options hash
  var mapOptions = {
      center: myLatlng,
      zoom: 16,
      mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  // get the maps div's HTML obj
  var map_canvas_obj = document.getElementById("map-canvas");
  // initialize a new Google Map with the options
  var map = new google.maps.Map(map_canvas_obj, mapOptions);
  // Add the marker to the map
  var marker = new google.maps.Marker({
      position: myLatlng,
      title:"Hello World!"
  });
  // Add the marker to the map by calling setMap()
  marker.setMap(map);
}

$(document).ready(function() {
    initialize_gmaps();
});
</script>
{% endblock %}
